body {
    font-size: 14px;
    font-family: arial,sans-serif;
    background-color: #202124;
}
h2 {
    color:indianred;
    margin: 30px;
}
hr {
    height: 1px;
    color: #969ba1;
    background-color: #969ba1;
    border: none;
}
h3 {
    color: white;
}
h4 {
    color: white;
}
h5 {
    color: #969ba1;
}
.sml-logo {
    display: flex;
    justify-content: left;
    margin: auto;
    margin: 20px;
}
.logo {
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 200px;
}
.options {
    display: inline;
    float: right;
    margin: auto;
    margin: 10px;
    text-decoration: none;
    color: #969ba1;
}
.searchloc {
    display: flex;
    justify-content: center;
    margin: auto;
}
.button {
    display: inline;
    text-align: center;
    margin: auto;
    margin: 5px;
    background-color:#303134;
    color: #969ba1;
    height: 36px;
    cursor: pointer;
    user-select: none;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
}
.button:hover {
    border: solid 1px #969ba1;
}
.image {
    position:relative;
    bottom:-75px;
    left: -50px;
    font-size:14px;
    color:#4285F4;
    font-family:"Roboto",sans-serif;
}
.advsearch {
    background-color:rgba(189,193,198,0);
    border: solid 1px #969ba1;
    color: #969ba1;
    font-size: 16px;
}
.advsearch:focus {
    border: solid 1px #4285F4;
}
.search {
    background-color:rgba(189,193,198,0);
    border: solid 1px #969ba1;
    text-indent: 15px;
    color: #969ba1;
    font-size: 16px;
    border-radius: 25px;
    height: 46px;
    width: 584px;
}
.search:hover, .search:focus {
    background-color:rgba(48,49,52,1);
    border: solid 1px #303134;
    outline: none;
}